# --- Secrets ---
.env

# --- Backend (Java / Maven) ---
backend/target/

# --- Frontend (Node / Angular) ---
frontend/node_modules/
frontend/dist/

# --- IDE ---
.idea/
*.iml
.vscode/

# --- Système d'exploitation ---
.DS_Store
Thumbs.db